:root {
  --color-bg: #F2EFE9;
  --color-blue: #91BAE2;
  --color-darkpink: #B10B3A;
  --color-brown: #C79F79;
  --color-darkbrown: #36372F;

  --fontsize-s: clamp(1rem, 0.9492rem + 0.2198vw, 1.125rem);
  --fontsize-m: clamp(1.125rem, 1.0742rem + 0.2198vw, 1.25rem);
  --fontsize-l: clamp(1.375rem, 1.2225rem + 0.6593vw, 1.75rem);
  --fontsize-xl: clamp(1.875rem, 1.4176rem + 1.978vw, 3rem);
  --fontsize-xxl: clamp(2.25rem, 1.5385rem + 3.0769vw, 4rem);
  --fontsize-xxxl: clamp(4rem, 3.0852rem + 3.956vw, 6.25rem);


  --space-xs: clamp(0.5rem, 0.4167rem + 0.4167vw, 0.75rem);
  --space-s: clamp(2rem, 27.3187rem + -31.6484vw, 20rem);

  --whitespace-xs: 0.5rem;
  --whitespace-s: 1rem;
  --whitespace-base: 1.5rem;
  --whitespace-l: 2rem;
  --whitespace-xl: 3rem;
  --whitespace-xxl: 5rem;

  --left: -10%;

}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-darkbrown);
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: var(--fontsize-xxl);
}

p {
  font-size: var(--fontsize-s);
  line-height: 1.4;
}

.margin {
  margin-left: 18px;
  margin-right: 18px;
}

.title,
.scroll {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.header_title--small {
  font-size: var(--fontsize-xl);
}

.header_title {
  margin-top: 5rem;
}

.header_wrapper {
  margin-left: 18px;
  margin-right: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  padding: 0.5rem;
  padding-bottom: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
}

h2 {
  font-size: var(--fontsize-xl);
}

h3 {
  font-size: var(--fontsize-l);
  line-height: 1.3;
}

.nav_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.earnings {
  display: flex;
  border: solid 1.5px var(--color-darkbrown);
  justify-self: center;
  background-color: var(--color-brown);
  height: fit-content;
  padding: var(--whitespace-xs) var(--whitespace-s);
  gap: var(--whitespace-xs);
  align-items: center;
}

.earnings_p {
  display: flex;
}

.earnings_popup {
  border: solid 1.5px var(--color-darkbrown);
  z-index: 2;
  right: 5%;
  position: fixed;
  top: 10%;
  background-color: white;
}

.popup_title {
  font-family: 'Times New Roman', Times, serif;
  font-size: var(--fontsize-l);
  font-weight: bold;
}

.earnings_content {
  display: flex;
  flex-direction: column;
  gap: var(--whitespace-s);
  padding: var(--whitespace-s);
}

.add_earnings {
  display: flex;
  align-items: center;
  gap: var(--whitespace-xs);
  background-color: var(--color-brown);
  width: fit-content;
  padding: var(--whitespace-xs) var(--whitespace-s);
}

.close_popup {
  padding: var(--whitespace-xs);
  cursor: pointer;
}

.menu {
  justify-self: end;
}

.bold {
  font-weight: 900;
}

.pink {
  color: var(--color-darkpink);
}

.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  color: var(--color-darkpink);

}

.header_bottom--wrapper {
  padding: var(--space-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.arrow {
  animation: MoveUpDown 2s linear infinite;

}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro_title--wrapper {
  margin-left: 18px;
  margin-right: 18px;
}

.title_intro {

  border-bottom: 1px solid var(--color-darkbrown);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.shape {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 2fr 1fr;
  justify-content: center;
  border: solid 2px var(--color-darkbrown);
  border-radius: 200px;
  background-color: var(--color-bg);

  margin: 0rem 1rem;
  padding: 0rem 1rem;
  text-align: center;
  font-size: 20px;
}

.intro_shape {
  max-width: 24rem;
  height: 41.5rem;

}

.compositor_shape {
  max-width: 355px;
  height: 613px;
}

.shape_text {
  font-size: var(--fontsize-m);
}

.antwerp {
  background-color: var(--color-blue);
  padding-bottom: 2rem;
  padding-top: var(--space-s);


}

.job_title--small {
  font-size: var(--fontsize-l);
}

.job_title--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: start;
  margin-bottom: 1rem;
}

.job_title_number {
  border-right: 1px solid var(--color-darkbrown);
  font-size: var(--fontsize-xxxl);
  padding: 0rem 1rem;
  line-height: 0.8;
  background-image: url(/assets/img/paper.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.job_title {
  padding: 0rem 1rem;
}

.p_horizontal--scroll {
  font-size: var(--fontsize-xxxl);
  margin-left: 18px;
  white-space: nowrap;
  color: var(--color-brown);
  font-family: 'Times New Roman', Times, serif;
}

.horizontal--scroll--wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
}

.eye {
  width: 200px;
  z-index: 1;

  right: -15%;

}

.description--wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.corrector_interaction {
  display: flex;
  flex-direction: column;
  gap: var(--whitespace-base);
}

.lector--wrapper {
  display: flex;
  gap: var(--whitespace-s);
  margin-top: var(--whitespace-l);
}

.audio {
  display: flex;
  flex-direction: column;
  gap: var(--whitespace-s);
}

.error_text--wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--whitespace-s);
}

.lector {
  width: 140px;
}

.error_text {
  font-size: 1.5rem;
}

.word:hover,
.audio_button {
  cursor: pointer;
}

.word:hover {
  background-color: #4fb6ff;
}

.corrected {
  background-color: var(--color-darkpink);
  color: var(--color-bg);
}

.corrected:hover {
  background-color: var(--color-darkpink);
}

.job_compositor {
  background-color: var(--color-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookdeco {
  white-space: nowrap;
}

.bottom_letters--wrapper {
  display: flex;
  gap: 0.5rem;
}

.q,
.l {
  display: none;
}

.compositor_description--middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.compositor_description_container {
  padding-top: var(--whitespace-base);
  padding-bottom: var(--whitespace-l);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.left_letter--wrapper,
.right_letter--wrapper {
  display: none;
}

.bookframe--right {
  max-height: 670px;
}

.compositor_interaction {
  padding-left: var(--whitespace-s);
  padding-right: var(--whitespace-s);
  padding-top: var(--whitespace-l);
  padding-bottom: var(--whitespace-base);
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--whitespace-base);
}

.bottom_letter {
  width: 5rem;
}

.job_section,
.intro_title--wrapper {
  padding: var(--whitespace-xl) 0rem;
}

.shaking_letters--wrapper {
  display: flex;
  gap: var(--whitespace-s);
  flex-wrap: wrap;
  justify-content: center;
}

.interaction_status {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: var(--fontsize-m);
}

.interaction_text {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: var(--fontsize-m);
}

.printer_description_container {
  display: flex;
  flex-direction: column;
  gap: var(--whitespace-base);
}

.printer_description--wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--whitespace-base);
}

.printer_interaction {
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
  align-items: center;
  gap: var(--whitespace-l);
}

.pulling_status {
  position: relative;
  border: solid 1px var(--color-darkbrown);
  border-radius: 50px;
  width: 100%;
  min-height: 50px;
  display: grid;
  grid-template-columns: 60% 20% 20%;
}

.pull--perfect {
  background-color: var(--color-blue);
}

.pull_button {
  z-index: 1;
  cursor: pointer;
  border-radius: 100px;
  background-color: var(--color-darkpink);
  justify-self: center;
  width: 180px;
  height: 180px;
  align-content: center;
  margin: var(--whitespace-l);
  margin-top: 20%;
}

.pull_button:hover {
  scale: 1.05;
}

.pull_bar--img {
  width: 35%;
  position: absolute;
  top: -50%;
  left: var(--left);
}

.button_p {
  font-family: 'Times New Roman', Times, serif;
  color: var(--color-bg);
  font-weight: bold;
  font-size: var(--fontsize-m);
}

.shaking_letter {
  cursor: pointer;
}

.shaking {
  animation: shake 3s alternate infinite;
}

.shaking_fast {
  animation: shake 1s alternate infinite;
}

.shaking_letter:hover {
  scale: 1.1;
}

.name {
  width: 300px;
  height: 50px;
}

.hiring_section {
  height: 100vh;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--whitespace-l);
}

.hiring_title {
  text-align: center;
}

.hiring_question {
  font-size: var(--fontsize-l);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: var(--whitespace-base);

}

.button-submit {
  border: none;
  width: fit-content;
  background-color: var(--color-darkpink);
  align-self: center;
  padding: var(--whitespace-s) var(--whitespace-l);
}

.button-submit:hover {
  cursor: pointer;
}

.plantin--wrapper {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 1fr auto;
}

.plantin {
  align-self: self-end;
  justify-self: center;
  padding-left: var(--whitespace-s);
}

.plantin_speech {
  grid-column: 1 / span 2;
  background-color: white;
  border: solid 2px var(--color-darkbrown);
  border-radius: 20px;
  padding: var(--whitespace-base);
  max-width: 700px;
}

.name--wrapper {
  padding-left: var(--whitespace-s);
}

.plantin_name {
  font-size: var(--fontsize-l);
}

.plantin_job {
  font-size: var(--fontsize-m);
  font-style: italic;
}

.outro_title {
  margin-top: 10rem;
}

.outro_p,
.afford_days,
.afford_days--big,
.outro_title {
  text-align: center;
}

.outro_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-darkpink);
  color: var(--color-bg);
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  gap: var(--whitespace-l);
}

.afford_item {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  gap: var(--whitespace-s);
}

.afford_item--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--whitespace-base);
}

.afford_days {
  font-size: var(--fontsize-xl);
  line-height: 1.2;
}

.afford_days--big {
  font-size: var(--fontsize-xxl);
  line-height: 1;
}

.afford_img {
  justify-self: end;
}

.afford_p {
  max-width: 30rem;
}

.line {
  background-color: var(--color-bg);
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-darkpink);
  color: var(--color-bg);
}

@keyframes shake {
  0% {
    transform: rotate(10deg)
  }

  25% {
    transform: rotate(-10deg)
  }

  50% {
    transform: rotate(10deg)
  }

  75% {
    transform: rotate(-10deg)
  }

  100% {
    transform: rotate(0)
  }
}

@keyframes MoveUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}


@media only screen and (min-width: 26em) {
  .bottom_letter {
    width: 6rem;
  }

}


@media only screen and (min-width: 39em) {

  .left_letter--wrapper,
  .right_letter--wrapper {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .compositor_shape {
    max-width: 24rem;
    height: 41.5rem;

  }

}




@media only screen and (min-width: 55em) {

  main,
  footer {
    max-width: 80rem;
    margin: 0 auto;
  }

  .header_bottom--wrapper {
    display: grid;
    grid-template-columns: 30% 20% 30%;
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-evenly;
  }

  .scroll {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .header_title {
    margin-top: 3rem;
  }

  .intro_title--wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .title_intro {
    justify-self: end;
    border-right: solid var(--color-darkbrown);
    border-bottom: none;
    padding-right: 2rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
  }

  .intro_p {
    padding: 0rem 2rem;
  }

  .antwerp {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .job_section {
    margin: 0rem 0rem;
  }

  .eye {
    width: 435px;
    z-index: 1;
    position: static;
  }

  .corrector_description--wrapper {
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  .corrector_description_p1 {
    grid-column: 1 /span 3;
    grid-row: 1;
  }

  .corrector_description_p2 {
    grid-column: 1 /span 3;
    grid-row: 2;
  }

  .corrector_interaction--wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: var(--whitespace-l);
  }

  .lector--wrapper {
    flex-direction: column;
  }

  .lector {
    width: max-content;
  }

  .printer_description_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .book {
    grid-column: 2;
  }

  .plantin_speech {
    grid-row: 2;
    grid-column: 2;
  }

  .plantin {
    grid-row: 1 / span 2;
    grid-column: 1;
    padding-left: 0;
  }

  .name--wrapper {
    padding-left: 0;
  }

  .footer {
    flex-direction: row;
    align-items: end;
    padding: var(--whitespace-base);
  }

  .socials {
    display: flex;
    gap: var(--whitespace-xs);
  }

}

@media only screen and (min-width: 76em) {
  .corrector_description--wrapper {
    display: grid;
    grid-template-columns: 15% 25% 20% 40%;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  .corrector_description_p1 {
    grid-column: 2 /span 2;
    grid-row: 1;
  }

  .corrector_description_p2 {
    grid-column: 1 /span 2;
    grid-row: 2;
  }

  .shape {
    margin: 0rem 1rem;
  }

  .printer_description_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 100em) {
  main {
    max-width: 100rem;
    margin: 0 auto;
  }

}
